/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
target/
wsl/*
*.patch
.idea/
Debug/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
*.tlog
vendor/*
.vs/
!vendor/github.com/ontio/ontology-crypto/*
Chain/*
Chain
/config/*
nodectl
ontology
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
docker/payload
replace.sh
nohup.out
Chain-1/
keystore.dat
keystore.dat.backup
test*
upload*
*.pdf
60M
50M
small
Chain-0
SeekLog